* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* This is my Header */

header {
  background-color: #CE1126;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.logo {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 30px;
}

header nav a {
  color: #FFC72C;
  font-size: 18px;
  text-decoration: none;
}

/* Thsi section is about engaging the customer or simply the Hero part of my landing page */

.hero {
  background-color: #CE1126;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px 100px 80px;
  gap: 60px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.hero-text h1 {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 15px;
}

.hero-text p {
  color: #FFEFC1;
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-blue {
  background-color: #FFC72C;
  color: #3A1212;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}


.hero-image {
  width: 500px;
  height: 250px;
  overflow: hidden;
  border-radius: 8px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



/* Information section of my Landing Page */

.info {
  text-align: center;
  padding: 80px 80px;
}

.info h2 {
  color: #CE1126;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 50px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}


.card-box {
  width: 150px;
  height: 150px;
  border: 4px solid #FFC72C;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

.card-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p {
  color: #1F2937;
}

/*This is my Quote section */

.quote {
  background-color: #FFF6E0;
  padding: 100px 150px;
}

.quote blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  max-width: 900px;
  margin: 0 auto;
}

.quote-author {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  margin-top: 20px;
}

/* Call to action section */

.cta {
  padding: 80px;
  display: flex;
  justify-content: center;
}

.cta-box {
  background-color: #CE1126;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-text h3 {
  color: #F9FAF8;
  font-size: 24px;
  margin-bottom: 10px;
}

.cta-text p {
  color: #FFEFC1;
  font-size: 18px;
}

.btn-outline {
  background-color: transparent;
  color: #FFC72C;
  border: 2px solid #FFC72C;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

/* Footer */

footer {
  background-color: #CE1126;
  color: #FFEFC1;
  text-align: center;
  padding: 25px;
}
